.site-header {
    background-color: #dc7d09;
}

.site-header a {
    color: #d2f4ea;
    text-decoration: none;
}

.site-header a:hover {
    color: #fff;
}

.userid {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding-top: 56px;
    background-color: #fcb773;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 56px);
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebaritems a {
    color: #d2f4ea;
}

#sidebaritems a:hover {
    color: #fff;
}

#mainContainer {
    height: calc(100% - 56px);
}

.row {
    height: 100%;
}

.infotext {
    font-size: small;
    color: gray;
}

hr {
    margin-top: 0;
}