<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Base HTML</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ url_for('static', path='css/inventorymanager.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body style="width: 100%; height: 100%; margin: 0;">
    {% include "header.html" %}
    <div id="mainContainer" class="container-fluid p-0">
        <div class="row m-0 mb-5">
            {% include "sidebar.html" %}
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>