{% extends "base.html" %}
{% block title %}Deliveries - {{ user }}{% endblock %}
{% block content %}
    <div class="container-fluid ms-0 mt-2 mb-5">
        <h3>Deliveries</h3>
        <hr>
        <div class="row row-cols-1 row-cols-lg-3">
            {% for deliveryID, delivery in deliveries.items() %}
                <div class="col mt-3">
                    <div class="card p-0 h-100">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card-title col-2 text-muted fs-6">#{{ deliveryID }}</div>
                                    <div class="col">
                                        <div class="float-end"><span class="text-muted">Date Ordered:</span> {{ delivery.dateOrdered }}</div>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col">
                                        <div class="float-end"><span class="text-muted">Date Expected:</span> {{ delivery.dateExpected }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                {% for item, quantity in delivery.itemsOrdered.items() %}
                                    <div class="row">
                                        <div class="col-3">{{ item }}</div>
                                        <div class="col-3 text-muted">x{{ quantity }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}