{% extends "base.html" %}
{% block title %}Disposals - {{ user }}{% endblock %}
{% block content %}
    <div class="container-fluid ms-0 mt-2 mb-5">
        <h3>Disposals</h3>
        <hr>
        <div class="row row-cols-1 row-cols-lg-3">
            {% for disposal in disposals %}
                <div class="col mt-3">
                    <div class="card p-0 h-100">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card-title col-5 text-muted fs-6">#{{ disposal.disposalID }}</div>
                                    <div class="col">
                                        <div class="float-end"><span class="text-muted">Date Disposed:</span> {{ disposal.dateDisposed }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                            {% for item in disposal.items %}
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        {{ item.product.description }}
                                    </div>
                                    <div class="col">
                                        <span class="text-muted">x{{ item.quantityDisposed }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    {{ disposal.reason }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="float-end text-muted">{{ disposal.userID }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}