{% extends "base.html" %}
{% block title %}Overview - {{ user }}{% endblock %}
{% block content %}
    <div class="container-fluid ms-0 mt-2 mb-5">
        <div class="row row-cols-1 row-cols-xl-3">
            <div id="products" class="col mt-2">
            <h3>Product Overview</h3>
            <hr>
            {% for product in products %}
                <div class="mt-3">
                    <div class="card h-100 p-0">
                        <div class="card-header">
                            <div class="row">
                                <div class="col text-muted fs-6">#{{ product.productID }}</div>
                                <div class="col">
                                    <h5 class="float-end mb-0">{{ product.description }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body row">
                            <div class="col">
                                <div class="card-text col float-end"><span style="{{ 'color: red' if product.stock < product.restockLimit
                                    else 'color: green' }}">{{ product.stock }}</span> / {{ product.restockLimit }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div id="deliveries" class="col mt-2">
            <h3>Deliveries</h3>
            <hr>
            {% for delivery in deliveries %}
                {% if not delivery.delivered %}
                    <div class="col mt-3">
                        <div class="card p-0 h-100">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="card-title col-2 text-muted fs-6">#{{ delivery.deliveryID }}</div>
                                        <div class="col">
                                            <div class="float-end"><span class="text-muted">Date Ordered:</span> {{ delivery.dateOrdered }}</div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col">
                                            <div class="float-end"><span class="text-muted">Date Expected:</span> {{ delivery.dateExpected }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container-fluid">
                                    {% for order in delivery.items %}
                                        <div class="row">
                                            <div class="col-3">{{ order.product.description }}</div>
                                            <div class="col-3 text-muted">x{{ order.quantityOrdered }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <div id="disposals" class="col mt-2">
            <h3>Disposals</h3>
            <hr>
            {% for disposal in disposals %}
                <div class="col mt-3">
                    <div class="card p-0 h-100">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card-title col-5 text-muted fs-6">#{{ disposal.disposalID }}</div>
                                    <div class="col">
                                        <div class="float-end"><span class="text-muted">Date Disposed:</span> {{ disposal.dateDisposed }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                            {% for item in disposal.items %}
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        {{ item.product.description }}
                                    </div>
                                    <div class="col">
                                        <span class="text-muted">x{{ item.quantityDisposed }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    {{ disposal.reason }}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="float-end text-muted">{{ disposal.userID }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}