{% extends "base.html" %}
{% block title %}Products - {{ user }}{% endblock %}
{% block scripts %}
{% endblock scripts %}
{% block modal %}
    {% if perms["ProductCreate"] %}
    <div class="modal fade" id="insertProductModal" tabindex="-1" aria-labelledby="insertProductModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a New Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for("add_product_endpoint") }}" method="POST">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <input type="text" class="form-control col-12 mt-2" id="productdescription" name="product_description" placeholder="Product Name" required>
                                <select class="form-select col-6 mt-2" id="supplier" name="supplier_id" required>
                                    <option selected disabled value="">Choose Supplier...</option>
                                    {% for supplier in suppliers %}
                                        <option value="{{ supplier.supplierID }}">{{ supplier.name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="number" class="form-control col mt-2 me-1" id="stock" name="stock"  placeholder="Stock" pattern="\d*" min="0" required>
                                <input type="number" class="form-control col mt-2 ms-1" id="restocklimit" name="restock_limit" placeholder="Restock Warning Amount" pattern="\d*" min="0" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Submit product</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock modal %}
{% block content %}
    <div class="container-fluid ms-0 mt-2">
        <div class="row">
            <h3 class="col">Products</h3>
            {% if perms["ProductCreate"] %}
            <div class="col">
                <button type="button" class="btn btn-warning float-end" data-bs-toggle="modal" data-bs-target="#insertProductModal">
                    Add a new product
                </button>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% for supplier in suppliers %}
                <div class="row mt-2">
                    <h4 class="col-12">{{ supplier.name }}</h4>
                    <hr>
                </div>
                <div class="row row-cols-1 row-cols-xl-4">
                    {% for product in products %}
                        {% if product.supplier == supplier %}
                            <div class="col mt-1 mb-2">
                                <div class="card h-100 p-0">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-auto text-muted fs-6">#{{ product.productID }}</div>
                                            <div class="col">
                                                <h5 class="float-end mb-0">{{ product.description }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col">
                                            <div class="card-text col float-end"><span style="{{ 'color: red' if product.stock < product.restockLimit
                                                else 'color: green' }}">{{ product.stock }}</span> / {{ product.restockLimit }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}