
<style>
        .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: #1014f2;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #1014f2;
    }
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #1014f2;
    }
    #div1 {
        width:33.33%;
        float:left;
    }
    #div2 {
        width:33.3%;
        margin: 0 auto;
        float: center;
    }
</style>





<div id="div1" class="sidebar" style="width: 250px; height: 100%; background-color: #333333">
    <ul id="sidebaritems" class="sidebaritems" style="margin: 0; padding-top: 30px; color: white">
        <li style="padding-top: 5px;">Purchase Orders</li>
        <li style="padding-top: 5px;"><a href="{{ url_for("read_inventory_items") }}">Products</a></li>
        <li style="padding-top: 5px;">Testing</li>
        <li style="padding-top: 5px;">Testing</li>
    </ul>
    
</div>
<div id="div2">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Sale Date</th>
                <th>Purchase ID</th>
                <th>Sale Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>235645</td>
                <td>02/01/2024</td>
                <td>567</td>
                <td>$ 247</td>
            </tr>
            <tr class="active-row">
                <td>789456</td>
                <td>03/04/2024</td>
                <td>122</td>
                <td>$ 75</td>
            </tr>
           
        </tbody>
    </table>
</div>

    