<div class="position-sticky pt-3 sidebar-sticky">
    <ul id="sidebaritems" class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/homepage/" %}active{% endif %}"
                                href="{{ url_for("get_homepage") }}">Homepage</a></li>
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/products/" %}active{% endif %}"
                                href="{{ url_for("read_inventory_items") }}">View Products</a></li>
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/deliveries/" %}active{% endif %}"
                                href="{{ url_for("read_deliveries") }}">Deliveries</a></li>
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/disposals/" %}active{% endif %}" 
                                href="{{ url_for("read_disposals") }}">Disposals</a></li>
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/transactions/" %}active{% endif %}" 
                                href="{{ url_for("read_transactions") }}">Transactions</a></li>
        <li class="nav-item"><a class="nav-link {% if request.url.path == "/suppliers/" %}active{% endif %}" 
                                href="{{ url_for("read_suppliers") }}">Suppliers</a></li>
        {% if is_admin %}
            <hr class="mt-3 mb-2 w-75 ms-3">
            <li class="text-white">Administrator Pages</li>
            <li class="nav-item"><a class="nav-link {% if request.url.path == "/users/" %}active{% endif %}"
                                href="{{ url_for("read_users") }}">Users</a></li>
            <li class="nav-item"><a class="nav-link {% if request.url.path == "/permissions/" %}active{% endif %}"
                                href="{{ url_for("read_permissions") }}">Permissions</a></li>
        {% endif %}
    </ul>
</div>