<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul id="sidebaritems" class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{{ url_for("read_inventory_items") }}">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
        </ul>
    </div>
</nav>