{% extends "base.html" %}
{% block title %}Suppliers - {{ user }}{% endblock %}
{% block content %}
    <div class="container ms-0 mt-2 mb-5">
        <h3>Suppliers</h3>
        <hr>
        <div class="row">
            {% for supplier in suppliers %}
                <div class="card mt-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ supplier.supplierID }}</h5>
                        <!-- <div class="card-text">{{ user.firstName }} {{ user.lastName }}</div>
                        <div class="card-text infotext">{{ user.accountLevel }}</div> -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}