{% extends "base.html" %}
{% block title %}Users - {{ user }}{% endblock %}
{% block content %}
    <div class="container ms-0 mt-2 mb-5">
        <h3>Users</h3>
        <hr>
        <div class="row">
            {% for user in users %}
                <div class="card mt-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.userID }}</h5>
                        <div class="card-text">{{ user.firstName }} {{ user.lastName }}</div>
                        <div class="card-text infotext">{{ user.accountLevel }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
